<!DOCTYPE html>
<html>
  <head>
    <title>Qualtrics Setup</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <style>
      code {
        white-space: pre-wrap;
      }
    </style>
  </head>
  <body>
    <h1>Qualtrics Setup</h1>
    <p>Each of the following lines will be replaced with its corresponding data from the dataset when pasted into the "HTML view" of the question text:</p>
    <code>{{ html_code }}</code>
    <p>The following javascript code needs to be pasted into the javascript onloaded section:</p>
    <code>{{ javascript_code }}</code>
  </body>
</html>
